.text(@font-family, @font-size, @color) {
  font-family: @font-family;
  font-size: @font-size;
  color: @color;
}

.responsive(@min-width, @max-width, @rules) {
  @media only screen and (min-width: @min-width) and  (max-width: @max-width){
    @rules();
  }
}

.icon(@width, @height, @border-radius) {
  width: @width;
  height: @height;
  border-radius: @border-radius;
}




